.formProduct {
  display: flex;
  justify-content: center;

  .row {
    border: 5px solid $color_two;
    border-radius: 10px;
    background-color: $color_white;
  }

  label {
    font-family: $font_title;
    margin-right: 10px;
  }

}