<a href="{{ path('app_product_category_show', {'id': category.id}) }}">
    <div class="card-category m-3 ">

        <div class="container-image {% if lowHeight is defined %}low-height{% endif %}">
            <div class="container-infos">
               <h2>{{ category.name }}</h2>
            </div>
        </div>


    </div>
</a>