<footer>
    <div class="footer_link">
        <nav>
            <ul class="foot_nav mx-2 px-3">
                <li> <a href=""> Accueil</a></li>
                <li><a href="">Mentions Légales</a></li>
                <li><a href="">CGV</a></li>
                <li><a href="">Connexion</a></li>
            </ul>
        </nav>
    </div>

</footer>