{% extends 'base.html.twig' %}

{% block title %}ProductCategory{% endblock %}

{% block body %}

    <div class="container">
        <div class="col-12">
            <div class="d-flex justify-content-evenly mt-3">
                <h2 class="title_cards_body">{{ product_category.name }}</h2>
            </div>
            <div id="cards_landscape_wrap-2">
                <div class="mt-3 row row-cols-1 row-cols-md-4 d-flex justify-content-around">
                    {% for product in product_category.products %}
                        {% include 'front/partials/_productCard.html.twig' with {
                            'card-product': product
                        } %}


                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('galleries') }}">back to list</a>
    <a href="{{ path('app_product_category_edit', {'id': product_category.id}) }}">edit</a>

    {{ include('product_category/_delete_form.html.twig') }}
{% endblock %}
