footer {
  height: 80px;
  background-color: $color_dark;
  position: sticky;
}
.footer_link {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.foot_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  list-style-type: none;
}
