.info{
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .info_lien{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
    }
    .foot{
        width: 50%;
        height: 250px;
        display: flex;
        flex-direction: column;
    }
}
.info_title{
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: "Jacques Francois";
    width: 60%;
    color: #010506;
    border: 2px solid #faab05;
    border-radius: 20px;
    background-color: #e35f21;
}