@font-face {
  font-family: "Jacques Francois";
  src: url("JacquesFrancois-Regular.eot");
  src: local("Jacques Francois"), local("JacquesFrancois-Regular"), url("../assets/fonts/JacquesFrancois-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/JacquesFrancois-Regular.woff2") format("woff2"), url("../assets/fonts/JacquesFrancois-Regular.woff") format("woff"), url("../assets/fonts/JacquesFrancois-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Light.eot");
  src: local("Nunito Sans Light"), local("NunitoSans-Light"), url("../assets/fonts/NunitoSans-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-Light.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Light.woff") format("woff"), url("../assets/fonts/NunitoSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-SemiBold.eot");
  src: local("Nunito Sans SemiBold"), local("NunitoSans-SemiBold"), url("../assets/fonts/NunitoSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-SemiBold.woff2") format("woff2"), url("../assets/fonts/NunitoSans-SemiBold.woff") format("woff"), url("../assets/fonts/NunitoSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-SemiBoldItalic.eot");
  src: local("Nunito Sans SemiBold Italic"), local("NunitoSans-SemiBoldItalic"), url("../assets/fonts/NunitoSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/NunitoSans-SemiBoldItalic.woff") format("woff"), url("../assets/fonts/NunitoSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-ExtraBold.eot");
  src: local("Nunito Sans ExtraBold"), local("NunitoSans-ExtraBold"), url("../assets/fonts/NunitoSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-ExtraBold.woff2") format("woff2"), url("../assets/fonts/NunitoSans-ExtraBold.woff") format("woff"), url("../assets/fonts/NunitoSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Bold.eot");
  src: local("Nunito Sans Bold"), local("NunitoSans-Bold"), url("../assets/fonts/NunitoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-Bold.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../assets/fonts/NunitoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-LightItalic.eot");
  src: local("Nunito Sans Light Italic"), local("NunitoSans-LightItalic"), url("../assets/fonts/NunitoSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-LightItalic.woff2") format("woff2"), url("../assets/fonts/NunitoSans-LightItalic.woff") format("woff"), url("../assets/fonts/NunitoSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Italic.eot");
  src: local("Nunito Sans Italic"), local("NunitoSans-Italic"), url("../assets/fonts/NunitoSans-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-Italic.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Italic.woff") format("woff"), url("../assets/fonts/NunitoSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-ExtraLightItalic.eot");
  src: local("Nunito Sans ExtraLight Italic"), local("NunitoSans-ExtraLightItalic"), url("../assets/fonts/NunitoSans-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-ExtraLightItalic.woff2") format("woff2"), url("../assets/fonts/NunitoSans-ExtraLightItalic.woff") format("woff"), url("../assets/fonts/NunitoSans-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-Black.eot");
  src: local("Nunito Sans Black"), local("NunitoSans-Black"), url("../assets/fonts/NunitoSans-Black.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-Black.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Black.woff") format("woff"), url("../assets/fonts/NunitoSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-BoldItalic.eot");
  src: local("Nunito Sans Bold Italic"), local("NunitoSans-BoldItalic"), url("../assets/fonts/NunitoSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-BoldItalic.woff2") format("woff2"), url("../assets/fonts/NunitoSans-BoldItalic.woff") format("woff"), url("../assets/fonts/NunitoSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-ExtraBoldItalic.eot");
  src: local("Nunito Sans ExtraBold Italic"), local("NunitoSans-ExtraBoldItalic"), url("../assets/fonts/NunitoSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/NunitoSans-ExtraBoldItalic.woff") format("woff"), url("../assets/fonts/NunitoSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-BlackItalic.eot");
  src: local("Nunito Sans Black Italic"), local("NunitoSans-BlackItalic"), url("../assets/fonts/NunitoSans-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-BlackItalic.woff2") format("woff2"), url("../assets/fonts/NunitoSans-BlackItalic.woff") format("woff"), url("../assets/fonts/NunitoSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("../assets/fonts/NunitoSans-ExtraLight.eot");
  src: local("Nunito Sans ExtraLight"), local("NunitoSans-ExtraLight"), url("../assets/fonts/NunitoSans-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-ExtraLight.woff2") format("woff2"), url("../assets/fonts/NunitoSans-ExtraLight.woff") format("woff"), url("../assets/fonts/NunitoSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("NunitoSans-Regular.eot");
  src: local("Nunito Sans Regular"), local("NunitoSans-Regular"), url("../assets/fonts/NunitoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/NunitoSans-Regular.woff2") format("woff2"), url("../assets/fonts/NunitoSans-Regular.woff") format("woff"), url("../assets/fonts/NunitoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.inscript {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  width: 60%;
  height: 800px;
  margin: auto;
  border: 5px solid #e35f21;
  border-radius: 15px;
}

body {
  background-color: #eef8f7;
}

.slide__top_forum {
  width: 100%;
  height: 250px;
  background-image: url(../assets/img/slide_forum.png);
}

.forum {
  display: flex;
  flex-direction: column;
}

.slide__top_blog {
  width: 100%;
  height: 200px;
  background-image: url(../assets/img/slide_blog.png);
}

.suj {
  display: flex;
  justify-content: center;
}
.suj img {
  width: 80%;
  height: 300px;
  position: relative;
  border: 5px solid #e35f21;
  border-radius: 20px;
  margin: 10px;
}
.suj h3 {
  position: absolute;
  margin-top: 15px;
  background-color: #faab05;
  opacity: 0.5;
  border-radius: 15px;
}

footer {
  height: 80px;
  background-color: #010506;
  position: -webkit-sticky;
  position: sticky;
}

.footer_link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  list-style-type: none;
}

.info {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info .info_lien {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
}
.info .foot {
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.info_title {
  display: flex;
  margin: auto;
  justify-content: center;
  font-family: "Jacques Francois";
  width: 60%;
  color: #010506;
  border: 2px solid #faab05;
  border-radius: 20px;
  background-color: #e35f21;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #010506;
}

.head_nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 1%;
}

nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  background-color: #eef8f7;
  border: 2px solid #faab05;
  border-radius: 20px;
  text-decoration: none;
  font-family: "Jacques Francois";
  color: #010506;
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
}

h1 {
  font-family: "Jacques Francois";
  font-size: 32px;
  color: #eef8f7;
}

.header_title {
  display: flex;
  align-items: center;
}

.slide_top {
  width: 100%;
  height: 350px;
  background-image: url(../assets/img/slide_top.png);
  padding-bottom: 5px;
}
.slide_top h2 {
  font-family: "Jacques Francois";
  width: 40%;
  color: #010506;
  border: 2px solid #faab05;
  border-radius: 20px;
  background-color: #e35f21;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card_top {
  display: flex;
  flex-direction: column;
  border: 2px solid #010506;
  border-radius: 25px;
  align-items: center;
  background-color: #eef8f7;
}
.card_top h3 {
  color: #010506;
  font-family: "Jacques Francois";
}

.slide_h {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  background-color: #eef8f7;
  border: 4px solid #010506;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bodyactu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.cards_body {
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards_body .card_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #010506;
  border-radius: 10px;
  margin: 10px;
}

.title_card_body {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

h2 {
  background-color: #e35f21;
  border: 3px solid #faab05;
  border-radius: 15px;
  padding: 2px;
  font-family: "Jacques Francois";
}

.btn_center {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eef8f7;
}
.btn_center .btn_plus {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #010506;
  background-color: #faab05;
  padding: 2px;
  font-family: "Jacques Francois";
}

.actu3d {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.slide_foot {
  width: 100%;
  height: 300px;
  background-image: url(../assets/img/slide_foot.png);
}

h2.slide_f_title {
  font-family: "Jacques Francois";
  width: 40%;
  color: #010506;
  border: 2px solid #faab05;
  border-radius: 25px;
  background-color: #e35f21;
}

.slide_f {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards_foot {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card_f {
  width: 236px;
  height: 234px;
  display: flex;
  flex-direction: column;
  background-color: #eef8f7;
  border: 2px solid #010506;
  border-radius: 25px;
  align-items: center;
  margin-top: 2px;
}
.card_f h3 {
  color: #010506;
  font-family: "Jacques Francois";
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel_item {
  float: left;
}

.carousel_container {
  display: flex;
  flex-wrap: nowrap;
}

.carousel_container::after {
  content: "";
  clear: both;
  display: table;
}

#slides {
  position: relative;
  height: 300px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slide {
  font-size: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #000000;
  color: #ffffff;
  border-style: dashed;
  border-width: 3px;
}

.slide:nth-of-type(1) {
  background: black;
}

.slide:nth-of-type(2) {
  background: orange;
}

.slide:nth-of-type(3) {
  background: green;
}

.slide:nth-of-type(4) {
  background: blue;
}

.slide:nth-of-type(5) {
  background: purple;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1 {
  margin: 30px 0 50px;
  text-align: center;
}

.section-banners {
  background-color: #eee;
  padding: 40px;
}

.container {
  width: 960px;
  margin: 0 auto;
}

main {
  position: relative;
}

.wrap-img {
  width: 650px;
  margin: 0 auto;
  overflow: hidden;
  height: 500px;
}
.wrap-img img {
  width: 100%;
  vertical-align: middle;
}

.wrap-link {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}
.wrap-link a {
  display: inline-block;
  vertical-align: middle;
}
.wrap-link .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #000;
  color: #fff;
  margin: auto;
}
.wrap-link .arrow:hover {
  background-color: darkgoldenrod;
}
.wrap-link .arrow-l {
  left: 15%;
}
.wrap-link .arrow-r {
  right: 15%;
}

.img-dot {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 5px;
  background-color: darkgoldenrod;
}
.img-dot:hover {
  background-color: darkorange;
}
.img-dot.active {
  background-color: darkslateblue;
}

.detail {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10px;
}
.detail .description {
  width: 40%;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  width: auto;
}/*# sourceMappingURL=style.css.map */